@using HotelAdmin.Services.IsProductionChecker
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Context.Items["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MvcTest.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="/RoomsReservationsTable/Index?hotelId=@(((Context.Items["Hotel"] as Hotel)?.Id))">@(((Context.Items["Hotel"] as Hotel)?.Name))</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index" asp-route-hotelId="@((Context.Items["Hotel"] as Hotel)?.Id)">Заказы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="SetPrice" asp-action="Create" asp-route-hotelId="@((Context.Items["Hotel"] as Hotel)?.Id)">Изменить Цены</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ClosureSets" asp-action="Create" asp-route-hotelId="@((Context.Items["Hotel"] as Hotel)?.Id)">Закрыть Номер</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Reports" asp-action="Index" asp-route-hotelId="@((Context.Items["Hotel"] as Hotel)?.Id)">Отчеты</a>
                        </li>
                        @for (int i = 0; i < (Context.Items["Hotels"] as List<Hotel>)?.Count; i++)
                        {
                            if ((Context.Items["Hotels"] as List<Hotel>)[i].Id != (Context.Items["Hotel"] as Hotel).Id)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="/RoomsReservationsTable/Index?hotelId=@((Context.Items["Hotels"] as List<Hotel>)[i].Id)">@((Context.Items["Hotels"] as List<Hotel>)[i].Name)</a>
                                </li>
                            }
                        }
                        @{
                            if (!AppState.IsProduction)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-red" style="color:#dc3545;">Внимание! Вы используете локальную версию сайта!</a>
                                </li>
                            }
                        }
                    </ul>                    
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
